<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <span style="margin-right: 10px;">Job was created</span>
    <a href="https://kompaniya-sandbox.pipedrive.com/deal/{{id}}">View Job</a>
  </body>
</html>